.organizerProfile{
    display: flex;
    width:100vw;
    flex-wrap: wrap;
}
.left{
    flex : 2.39;
}
.middle{
    flex:9.61;
}
.splitTheTwo{
    display: flex;
}
.myFeed{
    flex:8;
}
.myRightBar{
    flex:4;
}